<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>DahsBoard</title>
  <link rel="icon" th:href="@{/imagenes/logo.png}" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" href="/css/stylesDashboardMain.css">
</head>

<body>
  <section th:fragment="dashboard">
    <h1 class="text-center">Control de visitantes conficafe</h1>
    <div class="container m-5">
      <div class="row">
        <div class="col-6">
          <section th:replace="layout/totalVisitantes :: totalVisitantes"></section>
          
        </div>
        <div class="col-6">
          <div class="text-center">
            <a th:href="@{/agregarUsuario}" class="btn btn-primary m-2">Agregar Usuario</a>
            <a th:href="@{/listaUsuariosHoy}" class="btn btn-primary m-2">Lista de usuarios hoy</a>
            <a th:href="@{/historialVisitantes}" class="btn btn-primary">Historial visitantes</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>