<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DashBoard - Actions</title>
    <link rel="icon" th:href="@{/imagenes/logo.png}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/css/stylesDashboardMain.css">
</head>

<body>
    <section th:fragment="dashboardActions">
        <div class="mainContent">
            <section class="m-5" th:replace="layout/totalVisitantes :: totalVisitantes"></section>
        </div>
        <!-- <div class="col-6"><section th:replace="layout/listadoClientes :: listadoClientes"></section></div> -->


    </section>
</body>

</html>