<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>DahsBoard</title>
    <link rel="icon" th:href="@{/imagenes/logo.png}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<section th:fragment="dashboard" >
    <section th:replace="layout/dashboardActions :: dashboardActions"></section>
</section>

</body>
</html>